.idea/
node_modules/
frontend/dist/
frontend/.eslintcache
**/.vscode/

*.gz
*.lot
*.fdb_latexmk
*.aux
*.bbl
*.toc
*.blg
*.log
*.out
*.fls
*.bak_*
*.lck
*.lof
*.nav
*.snm
thesis/thesis.pdf

venv/
venv-pypy/
__pycache__/
.eslintcache

.env

*.synctex(busy)
